<div class="page-wrapper">
  <div class="page-container">

    <div class="timeline-container">
    </div>

    <div class="feed-container ads-container">
      <div class="container">
        <div class="row">
          <% @count = 0 %>
          <% @ads.each do |ad| %>
           <% @count += 1 %>
            <div class="col-xs-6 col-sm-3">
              <div class="ad-card" >

                <button class="image-div" data-toggle="modal" data-target="#ad-detail<%= @count %>">
                  <%= cl_image_tag(ad.cloudinary_public_id, width: 250, height: 140, crop: :pad) %>
                </button>

                <div class="elements-div">
                  <button class="text-div" data-toggle="modal" data-target="#ad-detail<%= @count %>">
                    <h5><%= ad.competitor.name.capitalize %></h5>
                    <p><%= ad.created_at.to_date %></p>
                  </button>
                  <%= link_to new_ad_pin_path(ad) do %>
                    <button class="pin-btn">
                      <i class="fa fa-thumb-tack"></i>
                    </button>
                  <% end %>
                </div>

              </div>
            </div>

            <div class="modal fade" id="ad-detail<%= @count %>">
              <div class="col-xs-6 col-xs-offset-3">
                <div class="ad-card-modal" >
                  <div class="image-div text-center">
                    <%= cl_image_tag(ad.cloudinary_public_id, width: 750, height: 300, crop: :pad, effect: "improve") %>
                  </div>

                  <div class="elements-div">
                    <div class="text-div">
                      <h2><%= ad.competitor.name.capitalize %></h2>
                      <p><%= ad.created_at.to_date %></p>
                    </div>
                    <%= link_to new_ad_pin_path(ad) do %>
                      <button class="pin-btn">
                        <i class="fa fa-thumb-tack"></i>
                      </button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
