<div class="page-wrapper">
  <div class="page-container">
    <div class="container form">
      <div class="row">
        <div class="pin col-xs-6 col-xs-offset-3">
          <div><!--
            <div class="container"> -->
              <div class="row ad_to_pin text-center">
                <div class="col-xs-8 col-xs-offset-2">
                  <div class="card">
                  <!-- Image div -->
                    <h4><strong>Your pin</strong></h4>

                    <div>
                      <%= cl_image_tag(@ad.cloudinary_public_id, width: 250, height: 100, crop: :pad) %>
                    </div>
                  <!-- text div -->
                    <div>
                      <h4><%= @ad.competitor.name.capitalize %></h4>
                      <p><%= @ad.created_at.to_date %></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="separator"></div>
              <div class="row ad_to_pin">
                <div>
                  <div class="card text-center">
                    <h4 class="pin-title"><strong>Pick an existing dashboard</strong></h4>
                    <div>
                    <ul>
                      <% current_user.dashboards.each do |dashboard| %>

                        <div class="pin-div text-center">
                          <li class="pin-list">
                          <div class="name">
                          <%= dashboard.name %>
                          </div>
                          <div class="pin_it">
                          <%= simple_form_for [@ad, @pin] do |f| %>
                            <%= f.error_notification %>
                            <%= f.hidden_field :dashboard_id, value: dashboard.id %>
                            <button type="submit" class="btn btn-success">
                            <i class="fa fa-thumb-tack"></i>
                            </button>

                            </div>
                            </div>
                          <% end %>
                          </li>

                      <% end %>
                      </ul>
                    </div>
                    <div>
                      <%= simple_form_for [@ad, @pin] do |f| %>
                        <%= f.error_notification %>
                        <%= f.hidden_field :dashboard_id, value: nil %>
                        <%= f.button :submit, value: "New dashboard", class: "btn btn-conf btn-green" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
<!--             </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
