<div class="page-wrapper">
  <div class="page-container">
    <div class="container">
      <div class="row">
         <div class="text-center">
            <div class="col-xs-12 col-md-12">
                          <div class="header-competitor"> </div>

            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <div class="user-div">
                <div class="price-table">
                  <div class="p-head centered">
                    <% if @user.first_name && @user.last_name %>
                      <p><strong><%= @user.first_name %> <%= @user.last_name %></strong></p>
                    <% end %>
                  </div>
                  <div class="p-body centered">
                    <ul class="features">
                      <li>
                        <% if @user.company_name %>
                          <p><%= @user.company_name %></p>
                        <% end %>
                      </li>
                      <li>
                        <% if @user.company_url %>
                          <p> <%= @user.company_url %></p>
                        <% end %>
                      </li>
                    </ul>
                    <% if @user === current_user %>
                      <%= link_to "Modify my profile", edit_user_path(current_user), method: "get", class: "btn btn-conf-2 btn-green" %>
                    <% end %>
                      <%= link_to "Follow a competitor", new_follow_path, method: "get", class: "btn btn-conf-2 btn-green" %>
                  </div><!--/p-body-->
                </div><!--/price-table-->

                <div class="competitor-table"> <!--Beginning of user's competitor followed -->
                    <div class="p-head centered">
                      <p><strong>List of followed competitors</strong></p>
                    </div>
                    <div class="p-body centered">
                      <ul class="features">
                        <% @user.follows.each do |follow| %>
                          <li>
                            <%= follow.competitor.name %>
                            <%= link_to follow_path(follow), method: "delete" do  %>
                              <i class="fa fa-trash-o"></i>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </div><!--/p-body-->
                  </div><!--/competitor-table-->
              </div>
            </div>
            <div class="col-xs-12 col-md-9">
            <div class="col-xs-12 col-md-12 text-center">
              <div class="header-competitor">
                <h4><strong>Mes tableaux</strong></h4>
                </div>
            </div>
                <div class="feed-container">
                    <div class="row">
                       <% @user.dashboards.each do |dashboard| %>
                        <div class="col-xs-12 col-md-6">
                          <div class="dashboard-card text-center" >

                            <%= link_to dashboard_path(dashboard), class:"img-responsive" do %>
                              <%= cl_image_tag(dashboard.ads.first.cloudinary_public_id, width: 300, height: 100, crop: :scale) %>
                            <% end %>

                            <div class="elements-div text-center ">
                              <div class="text-div">
                                <h4><%= dashboard.name %></h4>


                                <div class="dashboard-link">
                                <%= link_to dashboard_path(dashboard), method: "get" do %>
                                  <i class="fa fa-eye"></i>
                                <% end %>
                                <%= link_to edit_dashboard_path(dashboard), method: "get" do %>
                                  <i class="fa fa-pencil"></i>
                                <% end %>
                                <%= link_to dashboard_path(dashboard), method: "delete" do %>
                                  <i class="fa fa-trash-o"></i>
                                <% end %>
                                </div>

                              </div>
                            </div>
                      </div>
                    </div>
                    <% end %>
                    </div>

                </div>
              </div>
      </div>
    </div>
  </div>
</div>
</div>
