<div class="page-wrapper">
  <div class="page-container page-container-responsive row-space-top-4 row-space-8r">
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <div class="user-div">
            <table>
              <tbody>
                <% if @user.first_name && @user.last_name %>
                  <tr>
                    <td class="field-name"><p><strong>Nom: </strong></p></td>
                    <td><p><%= @user.first_name %> <%= @user.last_name %></p></td>
                  </tr>
                <% end %>
                <% if @user.company_name %>
                  <tr>
                      <td class="field-name"><p><strong>Nom de votre entreprise: </strong></p></td>
                      <td><p><%= @user.company_name %></p></td>
                  </tr>
                <% end %>
                <% if @user.company_url %>
                  <tr>
                    <td class="field-name"><p><strong>Site de votre entreprise: </strong></p></td>
                    <td><p><%= @user.company_url %></p></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <% if @user === current_user %>
              <%= link_to "Modifier mon profil", edit_user_path(current_user), method: "get", class: "btn btn-home btn-center" %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-7">

        <div class="text-center">
            <%= link_to "Créer un dashboard", new_dashboard_path, method: "get", class: "btn btn-home" %>
            <ul>
              <% @user.dashboards.each do |dashboard| %>
                <li> <%= dashboard.name %></li>
              <% end %>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
