<div class="page-wrapper">
  <div class="page-container page-container-responsive row-space-top-4 row-space-8r">
    <div class="container ptb">
      <div class="row">
       <div class="col-xs-12 col-md-3">
          <div class="user-div">

              <div class="price-table">
              <div class="p-head centered">
               <% if @user.first_name && @user.last_name %>
                    <p><strong><%= @user.first_name %> <%= @user.last_name %></strong></p>
                  <% end %>
              </div>
              <div class="p-body centered">
                <ul class="features">
                  <li>
                    <% if @user.company_name %>
                      <p><%= @user.company_name %></p>
                    <% end %>
                  </li>
                  <li>
                    <% if @user.company_url %>
                        <p> <%= @user.company_url %></p>
                    <% end %>
                  </li>
                </ul>
                <% if @user === current_user %>
                  <%= link_to "Modifier mon profil", edit_user_path(current_user), method: "get", class: "btn btn-conf-2 btn-green" %>
                <% end %>
              </div><!--/p-body-->
          </div><!--/price-table-->
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-xs-12 col-md-8">

        <div class="text-center">
          <div class="col-xs-12 col-md-12">
          <div class="row">
            <%= link_to "Add a competitor to follow", new_follow_path, method: "get", class: "btn btn-conf-2 btn-green" %>

            <%= link_to "Créer un dashboard", new_dashboard_path, method: "get", class: "btn btn-conf-2 btn-green" %>
            </div>
            </div>
             <div class="col-xs-12 col-md-12">
              <ul>
                <% @user.dashboards.each do |dashboard| %>
                  <li class="competitor-card">
                    <div class="col-xs-4">
                      <%= dashboard.name %>
                    </div>
                    <div class="col-xs-8">
                       <%= link_to "Modifier", edit_dashboard_path(dashboard), method: "get", class: "btn btn-conf-2 btn-green" %> <%= link_to "Supprimer", dashboard_path(dashboard), method: "delete", class: "btn btn-conf-2 btn-green"  %>
                    </div>
                    </li>
                <% end %>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
