<div class="page-wrapper">
  <div class="page-container">
    <div class="container">
      <div class="row">
         <div class="text-center">
            <div class="col-xs-12 col-md-12">
              <div class="header-competitor"> </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <div class="user-div">
                <div class="price-table">
                  <div class="p-head centered" >
                   <p><strong>My information</strong></p>
                  </div>
                  <div class="p-body centered">
                    <ul class="features">
                      <li>
                       <% if @user.first_name && @user.last_name %>
                      <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>
                    <% end %>
                    </li>
                    <li>
                        <% if @user.company_name %>
                          <%= @user.company_name %>
                        <% end %>
                      </li>
                      <li>
                        <% if @user.company_url %>
                          <%= @user.company_url %>
                        <% end %>
                      </li>
                    </ul>
                    <% if @user === current_user %>
                      <%= link_to edit_user_path(current_user), method: "get" do %>
                      <i class="fa fa-pencil"></i>
                    <% end %>
                    <% end %>
                  </div><!--/p-body USER-->

                  <div class="p-head centered" id="competitor-header"> <!--Beginning of user's competitor followed -->
                      <p><strong>My competitors</strong></p>
                  </div>
                    <div class="p-body text-center">
                      <ul class="features">
                        <% @user.follows.each do |follow| %>
                          <li>
                            <%= follow.competitor.name.capitalize %>
                            <%= link_to follow_path(follow), method: "delete" do  %>
                              <i class="fa fa-trash-o"></i>
                            <% end %>
                          </li>
                        <% end %>
                          <li>
                            <%= link_to new_follow_path, method: "get" do %>
                                <i class="fa fa-user-plus"></i>
                            <% end %>
                          </li>
                      </ul>
                    </div><!--/p-body COMPETITOR-->
                </div><!--/price-table--> <!--/competitor-table-->
              </div>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1">
            <div class="col-xs-12 col-md-12 text-center">
              <div class="header-competitor">
                <h4><strong>MY DASHBOARDS</strong></h4>
                </div>
            </div>
            <div class="feed-container">
              <div class="row">
                <% @created_dashboards.each do |dashboard| %>
                  <div class="col-xs-12 col-md-6">
                    <div class="dashboard-card text-center" >
                      <%= link_to dashboard_path(dashboard), class:"img-responsive" do %>
                        <%= cl_image_tag(dashboard.ads.first.cloudinary_public_id, width: 300, height: 100, crop: :scale) %>
                      <% end %>
                      <div class="elements-div text-center ">
                        <div class="text-div">
                          <h4><%= dashboard.name.capitalize %></h4>
                          <div class="dashboard-link">
                            <%= link_to dashboard_path(dashboard), method: "get" do %>
                              <i class="fa fa-eye dashboard-icons"></i>
                            <% end %>
                            <%= link_to edit_dashboard_path(dashboard), method: "get" do %>
                              <i class="fa fa-pencil dashboard-icons"></i>
                            <% end %>
                            <%= link_to dashboard_path(dashboard), method: "delete" do %>
                              <i class="fa fa-trash-o"></i>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <% @shared_dashboards.each do |dashboard| %>
                  <div class="col-xs-12 col-md-6">
                    <div class="dashboard-card text-center" >
                      <%= link_to dashboard_path(dashboard), class:"img-responsive" do %>
                        <%= cl_image_tag(dashboard.ads.first.cloudinary_public_id, width: 300, height: 100, crop: :scale) %>
                      <% end %>
                      <div class="elements-div text-center ">
                        <div class="text-div">
                          <h4><%= dashboard.name.capitalize %></h4>
                          <div class="dashboard-link">
                            <%= link_to dashboard_path(dashboard), method: "get" do %>
                              <i class="fa fa-eye dashboard-icons"> from: <%= dashboard.user.first_name %></i>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
