
<div class="page-wrapper">
  <div class="page-container">
    <div class="timeline-container">
      <table>
        <tbody>
          <% @count = 0 %>
          <% @dashboard.pins.each do |pin| %>
            <% @count += 1 %>
            <% if @count%2 != 0 %>
              <tr>
                <td class="colcard">
                  <div class="ad-card">
                    <div class="image-div">
                      <%= cl_image_tag(pin.ad.cloudinary_public_id, width: 480, height: 200, crop: :pad) %>
                    </div>
                    <div class="elements-div">
                      <div class="text-div">
                        <h4><%= pin.ad.competitor.name.capitalize %></h4>
                        <h4><%= pin.ad.created_at.to_date %></h4>
                      </div>
                      <h4><%= link_to "-", pin_path(pin), method: "delete", class: "btn unpin-btn"  %></h4>
                    </div>
                  </div>
                </td>
                <td class="colarrow1">
                  <i class="fa fa-arrow-right"></i>
                </td>
                <td class="coltimeline">
                  <div class="timebubble">
                    <p><%= pin.ad.created_at.to_date %><p>
                  </div>
                </td>
                <td class="colarrow2">
                </td>
                <td class="colcomment">
                  <div class="comment">
                    <%= simple_form_for (pin) do |f| %>
                      <%= f.input :comment, placeholder: "Add a comment", label: false %>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% else %>
              <tr>
                <td class="colcomment">
                  <div class="comment">
                    <%= simple_form_for (pin) do |f| %>
                      <%= f.input :comment, placeholder: "Add a comment", label: false %>
                    <% end %>
                  </div>
                </td>
                <td class="colarrow1">
                </td>
                <td class="coltimeline">
                  <div class="timebubble">
                    <p><%= pin.ad.created_at.to_date %></p>
                  </div>
                </td>
                <td class="colarrow2">
                  <i class="fa fa-arrow-left"></i>
                </td>
                <td class="colcard">
                  <div class="ad-card">
                    <div class="image-div">
                      <%= cl_image_tag(pin.ad.cloudinary_public_id, width: 480, height: 200, crop: :pad) %>
                    </div>
                    <div class="elements-div">
                      <div class="text-div">
                        <h4><%= pin.ad.competitor.name.capitalize %></h4>
                        <h4><%= pin.ad.created_at.to_date %></h4>
                      </div>
                      <h4><%= link_to "-", pin_path(pin), method: "delete", class: "btn unpin-btn" %></h4>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="lowerlinks-container">
      <%= link_to "Retour aux annonces", ads_path, class: "btn btn-conf-2 btn-green", style: "width: 100%"  %>
      <h4><%= link_to "Exporter ce dashboard", root_path, class: "btn btn-conf-2 btn-green", style: "width: 100%"  %></h4>
    </div>
  </div>
</div>
