<h1>There is something for you...</h1>

<p>
  Hi <%= @share.user.first_name.capitalize %>,
</p>
<p>
  <%= @share.dashboard.user.first_name.capitalize %> <%= @share.dashboard.user.last_name.capitalize %> just shared the dashboard "<%= @share.dashboard.name.capitalize %>" with you.
  Please click on the link below to access it:
  <%= link_to dashboard_url(@share.dashboard), dashboard_url(@share.dashboard) %>

</p>

<p>
  Enjoy !
</p>
