<!DOCTYPE html>
<html lang="en" class="<%= "#{params[:controller]}-#{params[:action]}" %>">
  <head>
    <title>Benchy</title>
    <%= csrf_meta_tags %>
    <meta name="description" content="Benchy helps you follow easily your competitors' marketing operations">

    <meta property="og:title" content="Benchy - your easy competition monitoring tool">
    <meta property="og:image" content="assets/images/favicon.ico">
    <meta property="og:description" content="Benchy is a tool that helps follow easily your competitors' marketing operations">
    <meta property="og:site_name" content="Benchy"/>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Benchy team">
    <link rel="icon" href="assets/images/favicon.ico">
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
 -->
  </head>
  <body>
  <%#= #raise %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
  </body>
</html>


